<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
    <title>Crear producto</title>
    <link rel="stylesheet" href="/css/stylesCrear.css">
    <script type="text/javascript" src="/scripts/crearProductos.js"></script>
</head>
<body> 
  <%- include('./partials/header') %> 
    <main>
        <div class="edicion-producto">
            <h1>Crear producto</h1>
        </div>
        <div class="form-edicion">
            <form action="/productos/" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="name">Nombre del producto:</label>
                    <input type="text" id="name" name="name" class="input-text" value="<%= locals.oldData ? oldData.name : null %>">
                    <% if (locals.errors && errors.name) { %>
                        <div style="color: red; text-align: center;"><%= errors.name.msg %> </div>
                    <% } %>
                </div>
                <div>
                    <label for="image-p">Imagen principal:</label>
                    <input type="file" id="image_p" name="image_p" class="input-file">
                </div>
                <div>
                    <label for="animal">Animal:</label>
                    <select name="animal" id="animal">
                        <option value="Polygender" selected>Polygender</option>
                        <option value="Male">Masculino</option>
                        <option value="Female">Femenino</option>
                        <option value="Genderqueer">Genderqueer</option>
                        <option value="Non-binar">Non-binar</option>
                    </select>
                    
                </div>
                <div>
                    <label for="category">Categorias:</label>
                    <select name="category" id="category">
                        <option value="Bigender" selected>Bigender</option>
                        <option value="Male">Masculino</option>
                        <option value="Female">Femenino</option>
                        <option value="Genderqueer">Genderqueer</option>
                        <option value="Agender">Agender</option>
                    </select>
                </div>
                <div>
                    <label for="price">Precio:</label>
                    <input type="number" id="price" name="price" class="input-text">
                </div>
                <div>
                    <label for="description">Descripción:</label>
                    <textarea id="description" name="description" class="input-area" value="<%= locals.oldData ? oldData.firstName : null %>"></textarea>
                    <% if (locals.errors && errors.description) { %>
                        <div style="color: red; text-align: center;"><%= errors.description.msg %> </div>
                    <% } %>
                </div>
                <div>
                    <label for="caracteristic">Características:</label>
                    <textarea id="caracteristic" name="caracteristic" class="input-area"></textarea>
                </div>
                <div>
                    <label for="specs">Especificaciones:</label>
                    <textarea id="specs" name="specs" class="input-area"></textarea>
                </div>

                <div class="errorsFront" style="color: red; text-align: center;">
                    <ul></ul>
                </div>


                <div class="botones-edicion">
                    <button type="submit">Enviar</button>
                    <button type="button">Cancelar</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('./partials/footer') %> 
</body>