<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
    <title>Detalle del producto</title>
</head>

<body>
    <!--HEADER-->
    <%- include('./partials/header') %>

    <main>
        <div class="titulo-detalle">
            <h2> <%= product.p_name %> </h2>
        </div>

        <section class="detalle">
            <article>
                <img src="/images/products/<%= product.image_p%>" alt="Imagen del producto <%= product.p_name%> " class="img-p">
                <div class="opciones-detalle">
                    <h3>Precio</h3>
                    <h3>$<%= product.price %> MXN</h3>
                    <div class="form-opciones">
                        <form method="GET" action="/">
                            <label name="opciones" class="lab-opciones">Opcion:</label>
                            <br>
                            <select name="opciones">
                                <option value="borrador">borrador</option>
                            </select>
                            <div class="detalle-cantidad">
                                <input type="submit" value="-" class="menos">
                                <input type="number" value="cantidad" class="cant-det">
                                <input type="submit" value="+" class="mas">
                            </div>
                            <div class="agregar-carrito">
                                <button type="submit">Agregar al carrito</button>
                            </div>
                        </form>
                    </div>
                </div>
            </article>

            <div class="detalle-descripcion">
                <h3>Descripción:</h3>
                <p>
                    <%= product.description %>
                </p>
            </div>

            <div class="info-detalle">
                <nav>
                    <ul>
                        <li>Características</li>
                        <li>Especificaciones </li>
                        <li>Instrucciones</li>
                    </ul>
                </nav>
                <p>
                   <%= product.specs %> 
                </p><br>
                <p><%= product.caracteristic %> </p>
            </div>
        </section>
<!--
        <a href="/productos/edit/<%=product.product_id %>" class="buttonEnviar">
            Editar producto
        </a>
-->
        
        <form action="/productos/edit/<%=product.product_id %>" method="GET" style="display: inline-flex">
            <button type="submit" class="buttonEnviar">EDITAR</button>
        </form>
        
        <!-- Ver minuto 1:47:10 para agregar el botón eliminar-->
       
    </main>
    
    <!--FOOTER--> 
    <%- include('./partials/footer') %> 
</body>
</html>
