<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
    <title>Editar producto</title>
</head>
<body> 
  <%- include('./partials/header') %> 
    <main>
        <div class="edicion-producto">
        </div>
        <h1>Editar producto <%=productToEdit.name%> cuyo numero es <%=productToEdit.id%></h1>
        <div class="form-edicion">
            
            <form action="/products/<%=productToEdit.id%>/edit?_method=PATCH" method="POST" enctype="multipart/form-data">
                <p>
                    <label for="nombre-producto">Nombre del producto:</label>
                    <input type="text" id="nombre-producto" name="nombre-producto" class="input-text"
                    value= <%= productToEdit.name %>>
                </p>
                <p> Imagen principal del producto </p>
                <p><img src="/images/products/<%=productToEdit.image_p%>" style="width: 100px;"> </p>
                    <label for="img-principal">Seleccionar otra imagen</label>                                      
                    <input type="file" id="img-principal" name="img-principal" class="input-file">
                </p>
                <p>
                    <label for="img-secundaria1">Imagen secundaria 1:</label>
                    <input type="file" id="img-secundaria1" name="img-secundaria1" class="input-file">
                </p>
                <p>
                    <label for="img-secundaria2">Imagen secundaria 2:</label>
                    <input type="file" id="img-secundaria2" name="img-secundaria2" class="input-file">
                </p>
                <p>
                    <label for="precio">Precio:</label>
                    <input type="number" id="precio" name="precio" class="input-text"
                        value="<%= productToEdit.price %>"
                    >
                </p>
                <p>
                    <label for="descripcion">Descripción:</label>
                    <textarea id="descripcion" name="descripcion" class="input-area"><%= productToEdit.description %>
                    </textarea>
                </p>
                <p>
                    <label for="caracteristicas">Características:</label>
                    <textarea id="caracteristicas" name="caracteristicas" class="input-area"><%= productToEdit.caracteristic %>
                    </textarea>
                </p>
                <p>
                    <label for="instrucciones">Especificaciones:</label>
                    <textarea id="instrucciones" name="instrucciones" class="input-area"><%= productToEdit.specs %>
                    </textarea>
                </p>
                <div class="botones-edicion">
                    <button type="submit">Enviar</button>
                    <button type="reset">Cancelar</button>
                    <form action="/productos/:id?_method=DELETE" method="POST">
                        <button type="submit">Eliminar</button>
                    </form>
                    
                </div>
            </form>
        </div>
    </main>
    <%- include('./partials/footer') %> 
</body>