<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
    <title>Animalandia</title>
</head>
<body> 
    <%- include('./partials/header') %>
    <main>
        <p class="titulo">La mejor tienda de mascotas</p>
        <section class="top-main">
            <div class="mascotas-img">
                <img src="../images/PortadaMascotas.png" alt="PortadaMascotas" class="banner">
            </div>
            <div class="contenido-intro">
                <div class="container-intro">
                    <i class="fas fa-heartbeat fa-6x"></i>
                    <p class="subtittle">Nuestra preocupación</p>
                    <p class="info">La salud de tu mascota es primero</p>
                </div>
                <div class="container-intro">
                    <i class="fas fa-cat fa-6x"></i>
                    <p class="subtittle">Nuestra pasión</p>
                    <p class="info">El buen trato a los animales</p>
                </div>
                <div class="container-intro">
                    <i class="fab fa-hotjar fa-6x"></i>
                    <p class="subtittle">Los mejores precios</p>
                    <p class="info">Nos esforzamos por mantenernos. actualizados con las nuevas tendencias.</p>
                </div>
                <div class="container-intro">
                    <i class="fas fa-medal fa-6x"></i>
                    <p class="subtittle">Productos de primera calidad</p>
                    <p class="info">La calidad de los productos es primordial para tu satisfacción y la de tu mascota.</p>
                </div>
            </div>
        </section>
        <section class="info-gral">
            <div class="separador">
                <p> Principales productos</p>
            </div>
        </section>
        <section class="articulos">
            <!--Aqui el link de cada detalle de producto-->
            <% for(let i=1; i <= 6;i++){ %> 
                <article class="articulo-home">
                <a href="/productos/<%= producto[i].id %>">
                    <img src="/images/products/<%= producto[i].image_p %>" alt="<%= producto[i].name %>" class="product-img">
                </a>
                    <div class="product-name">
                        <a href="/productos/<%= producto[i].id %>">
                            <h2><%= producto[i].name %></h2>
                        </a>
                        <h4>$<%= toThousand(producto[i].price) %> MXN</h4>
                    </div>
                </article>
            <% } %>     
        </section>

        <section class="new-products">
            
        </section>
    </main>
    <%- include('./partials/footer')  %> 
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> 
</body>
</html>
