<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
    <title>Animalandia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
</head>
<body> 
    <%- include('./partials/header') %>
    <main>

        <section class="banner-top">
            <div class="container">
                <img src="/images/index/banner.jpg" id="dogos" alt="banner">
                <div class="overlay">
                    <div class="text">
                        <h1>La mejor tienda de mascotas</h1>
                        <p>La calidad de los productos es primordial para tu satisfacci贸n y la de tu mascota.
                            Nos esforzamos por mantenernos actualizados con las nuevas tendencias.
                        </p>
                        
                    </div>
                </div>
            </div>

        </section>
        <!--
        <p class="titulo">La mejor tienda de mascotas</p>
        <section class="top-main">
        <div class="top-grid">
            <div class="mascotas-img">
                <img src="../images/PortadaMascotas.png" alt="PortadaMascotas" class="banner">
            </div>
            <div class="inside-grid">
                <div class="container-intro">
                    <i class="fas fa-heartbeat fa-6x"></i>
                    <p class="subtittle">Nuestra preocupaci贸n</p>
                    <p class="info">La salud de tu mascota es primero</p>
                </div>
                <div class="container-intro">
                    <i class="fas fa-cat fa-6x"></i>
                    <p class="subtittle">Nuestra pasi贸n</p>
                    <p class="info">El buen trato a los animales</p>
                </div>
                <div class="container-intro">
                    <i class="fab fa-hotjar fa-6x"></i>
                    <p class="subtittle">Los mejores precios</p>
                    <p class="info">Nos esforzamos por mantenernos. actualizados con las nuevas tendencias.</p>
                </div>
                <div class="container-intro">
                    <i class="fas fa-medal fa-6x"></i>
                    <p class="subtittle">Productos de primera calidad</p>
                    <p class="info">La calidad de los productos es primordial para tu satisfacci贸n y la de tu mascota.</p>
                </div>
            </div>
        </div>
        </section>
    -->

        <section class="info-gral">
            <div class="separador">
                <p> Principales productos</p>
            </div>
        </section>
        <section class="">

            <!--Aqui el link de cada detalle de producto -->
            <div class="grid-container">
            <% for(let i = 0; i < 6 ; i++){ %> 
                <!--<div class="articulo-home">-->
                   <div class="articulo" id="articuloIndex">
                        <article>
                        <a href="/productos/<%= producto[i].product_id %>">

                            <div class="content-article">
                                <img src="images/products/<%= producto[i].image_p %> " alt="" style="max-height: 200px; max-width: 300px;"/>
                                <div class="caption">
                                    <p style="font-weight: bolder;"><%= producto[i].p_name%></p>
                                    <p>$<%= toThousand(producto[i].price) %> MXN</p>
                                </div>
                            </div>
                        </a>
                        </article>
                    </div>
               <!-- </div>-->
            <% } %>  
        </div>   
        </section>

        <section class="new-products">
            
        </section>
    </main>
    <%- include('./partials/footer')  %> 
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> 
</body>
</html>
