<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
    <title>Login</title>
    <script type="text/javascript" src="/scripts/login.js"></script>
</head>

<body>
    <%- include('./partials/header') %>

    <main>
        <div class="login-title">
            <h1>Login</h1>
        </div>
        <div class="login">
            <form method="post" action="/usuarios/login">
                <p class="elt-login">
                    <label for="user"> Usuario:</label>
                </p>
                <p class="elt-login">
                    <input type="email" id="email" name="email" placeholder="email@locotes.com" class="email">
                </p>
                <% if (locals.errors && errors.email) { %>
                    <div style="color: red; text-align: center;"><%= errors.email.msg %> </div>
                <% } %>
                <p>
                    <label for="password">Contraseña</label>
                </p>
                <p class="elt-login">
                    <input type="password" id="password" name="password" class="password">
                </p>
                <% if (locals.errors && errors.password) { %>
                    <div style="color: red; text-align: center;"><%= errors.password.msg %> </div>
                <% } %>

                <div class="errorsFront" style="color: red; text-align: center;">
                    <ul></ul>
                </div>


                <div class="botones-login">
                        <button type="submit">Ingresar</button>
                </div>
            </form>
        </div>
    </main>

    <%- include('./partials/footer') %> 

</body>
</html>
