<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Todos los productos</title>
</head>

<body>
    <!--HEADER-->
    <%- include('./partials/header') %>

    <main>
        <div class="products-products">
            <% products.forEach(producto => { %>
            <article>
            <a href="/productos/<%= producto.id %>"><img src="/images/products/<%= producto.image_p %>" alt="<%= producto.name %>" class="product-img"></a>
                <div class="product-name">
                    <a href="/productos/<%= producto.id %>"><h2><%= producto.name %></h2></a>
                    <h4>$<%= toThousand(producto.price) %> MXN</h4>
                </div>
            </article>
            <% }) %>
        </div>

    </main>

    <!--FOOTER--> 
    <%- include('./partials/footer') %> 
</body>
</html>
