<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('./partials/head') %>
    <title>Animalandia</title>
</head>

<body>
    <%- include('./partials/header') %>

    <main>
        <div class="login-title">
            <h1>Usuario</h1>
        </div>

        <div >
            <h1>Hola <%= user.firstName %> </h1>
            <p style="text-align: center;display: block;">Bienvenido a nuestro sitio estos son tus datos de usuario:</p>
            <img 
            <% if (user.id > 25) { %>
                src="/images/users/<%= user.picture %> "  style="max-width: 300px; max-height: 300px;" alt="FotoPerfil" 
            <% } else {%>
                src= "<%= user.picture %>"  style="max-width: 300px; max-height: 300px;" alt="FotoPerfil"
           <% }%>
            >
            </br><div style="display: block;">Email: <%= user.email %> </div></br>
        </div>
    </main>

    <%- include('./partials/footer') %> 
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> 
</body>
</html>
